.rating-container {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    > p {
    }
}
/* #ratings-container-in-ratings {
    display: flex;
    flex-direction: row;
} */
