#logo-container-in-sign {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}
#logo-container-in-sign > a {
    color: black;
    text-align: center;
}
#logo-container-in-sign > a > h1 {
    font-size: 2.6rem;
}
